{   
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": "amd"
      }
    ], "@babel/typescript","@vue/babel-preset-jsx"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime"
  ]
}
